<a routerLink="/">Homepage</a>
<br />
<a routerLink="login">Login</a>
<br />
<a routerLink="signup">Signup</a>
<br />
<a routerLink="displayhelloworld">DisplayHelloWorld</a>
<br />
<a routerLink="showhellobutton">ShowHelloButton</a>
<br />
<a routerLink="displayname">DisplayName</a>
<br />
<a routerLink="counter">Counter</a>
<br />
<a routerLink="simpleform">SimpleForm</a>
<br />
<a routerLink="userage">UserAge</a>
<br />
<a routerLink="usergreeting">UserGreeting</a>
<br />
<a routerLink="calculator">Calculator</a>
<br />
<a routerLink="textlength">TextLength</a>
<br />
<a routerLink="currencyconverter">CurrencyConverter</a>
<br />
<a routerLink="evenoddchecker">EvenOddChecker</a>
<br />
<a routerLink="wordreverser">WordReverser</a>
<br />
<a routerLink="showdate">ShowDate</a>
<br />
<a routerLink="showusername">ShowUsername</a>
<br />
<a routerLink="simplelogin">SimpleLogin</a>
<br />
<a routerLink="multiplicationtable">MultiplicationTable</a>
<br />
<a routerLink="fahrenheittocelsius">FahrenheitToCelsius</a>
<router-outlet></router-outlet>
