<a routerLink="/">Homepage</a>
<br />
<a routerLink="login">Login</a>
<br />
<a routerLink="signup">Signup</a>
<br />
<a routerLink="displayhelloworld">DisplayHelloWorld</a>
<br />
<a routerLink="showhellobutton">ShowHelloButton</a>
<br />
<a routerLink="displayname">DisplayName</a>
<br />
<a routerLink="counter">Counter</a>
<br />
<a routerLink="simpleform">SimpleForm</a>
<br />
<a routerLink="userage">UserAge</a>
<br />
<a routerLink="usergreeting">UserGreeting</a>
<br />
<a routerLink="calculator">Calculator</a>
<br />
<a routerLink="textlength">TextLength</a>
<br />
<a routerLink="currencyconverter">CurrencyConverter</a>
<br />
<a routerLink="evenoddchecker">EvenOddChecker</a>
<br />
<a routerLink="wordreverser">WordReverser</a>
<br />
<a routerLink="showdate">ShowDate</a>
<br />
<a routerLink="showusername">ShowUsername</a>
<br />
<a routerLink="simplelogin">SimpleLogin</a>
<br />
<a routerLink="multiplicationtable">MultiplicationTable</a>
<br />
<a routerLink="fahrenheittocelsius">FahrenheitToCelsius</a>
<br />
<a routerLink="bookmarklist">BookMarkList</a>
<br />
<a routerLink="charactercounter">CharacterCounter</a>
<br />
<a routerLink="palindromechecker">PalindromeChecker</a>
<br />
<a routerLink="temperatureconverter">TemperatureConverter</a>
<br />
<a routerLink="shoppinglist">ShoppingList</a>
<br />
<a routerLink="factorialcalculator">FactorialCalculator</a>
<br />
<a routerLink="todomanager">ToDoManager</a>
<br />
<a routerLink="guessnumbergame">GuessNumberGame</a>
<br />
<a routerLink="wordcounter">WordCounter</a>
<br />
<a routerLink="randomnumbergenerator">RandomNumberGenerator</a>
<br />
<a routerLink="multiplicationchecker">MultiplicationChecker</a>
<br />
<a routerLink="uppercaseconverter">UpperCaseConverter</a>
<br />
<a routerLink="WordShuffler">WordShuffler</a>
<br />
<a routerLink="bmisolver">BMISolver</a>
<br />
<a routerLink="usernamevalidator">UsernameValidator</a>
<br />
<a routerLink="interestcalculator">InterestCalculator</a>
<br />
<a routerLink="CompoundinterestCalculator">CompoundInterestCalculator</a>
<br />
<a routerLink="fibonnacigenerator">FibonnaciGenerator</a>
<br />
<a routerLink="currencyformatter">CurrencyFormatter</a>
<br />
<a routerLink="oddsumcalculator">OddSumCalculator</a>
<br />
<a routerLink="randomqoutedisplay">RandomQouteDisplay</a>
<br />
<a routerLink="uppercasegreeting">UpperCaseGreeting</a>
<br />
<a routerLink="divisiblechecker">DivisibleChecker</a>
<br />
<a routerLink="Alphabet">Alphabet</a>
<br />
<a routerLink="onetoten">OneToTen</a>
<br />
<a routerLink="hyperlink">Hyperlink</a>


<router-outlet></router-outlet>
